*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins','sans-serief';
}

nav .menu-btn i{
    color: white;
    font-size: 1.875rem;
    display: none;
}


nav{
    height: 4rem;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    margin-right: 1rem;
}

nav ul li a{
    text-decoration: none;
    margin: 0 1.875rem;
    color: white;
    font-weight: 500;
    font-size: medium;
    transition: all .3s ease-in-out ;
}

nav ul li a:hover,
nav ul li a.active{
    color: black;
    background-color: whitesmoke;
    padding: .333rem .875rem;
    border-radius: 1rem;
}


nav .logo{
    font-weight: 800;
    font-size: 2rem;
    margin-left: 1rem;
    color: white;
}

#click{
    display: none;
}




@media (max-width:900px){

    nav .menu-btn i{
       display: block;  
       margin-right: 2rem;  
    }

    #click:checked ~ ul{
        left: 0%;
    }

    #click:checked ~ .menu-btn i::before{
        content: "\f00d";
    }
    


    nav ul{
        position: fixed;
        top: 4rem;
        left: -100%;
        background-color: black;
        height: 27rem;
        width: 100%;
        display: block;
        text-align: center;
        transition: all .4s ease-in-out;
    }

    nav ul li{
        margin: 3rem 0;
    }
    nav ul li a{
        font-size: 1.375rem;
    }


}